@import "src/styles/variables";

.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
    background-color: #fff5;
    border-radius: 4px;
    margin-top: auto;
}

.title {
    font-size: 28px;
    padding: 12px 0;
}

.timerRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 60vw;
}

.timerItem {
    text-align: center;
    margin: 8px 24px;
}
.timerItemLabel {
    font-family: monospace;
}
.timerItemValue {
    font-size: 32px;
    font-weight: 300;
}

.inputContainer {
    margin: 16px auto 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}
.beforeInput {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 8px;
}
.inputLabel {
    font-size: 14px;
    color: #555;
}
.resetDurationInput {
    font-size: 14px;
    text-decoration: none;
    &,
    &:hover,
    &:visited,
    &:active {
        color: #4392f1;
    }
    &:hover {
        text-decoration: underline;
    }
}
.input {
    padding: 8px 12px;
    font-size: 24px;
    color: #555;
    font-family: monospace;
    border-radius: 8px;
    border: 2px solid #aaf5;
    transition: 0.1s ease all;
    text-align: center;
    background-color: #fff1;
    width: calc(100% - 24px);

    // Hide the up and down arrows for number type input
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    &:hover {
        outline: none;
        border-color: #aaf9;
        background-color: #fff5;
    }

    &:focus {
        outline: none;
        border-color: #aafa;
        background-color: #fff7;
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    .timerRow {
        flex-direction: column;
        justify-content: center;
        margin-top: auto;
        margin-bottom: auto;
    }

    .input {
        font-size: 16px;
    }
}
